apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: fastapi-db
  namespace: default  
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: fastapi-db-secret
    template:
      engineVersion: v2
      data:
        DATABASE_URL: |
          postgresql://{{ .username }}:{{ .password }}@{{ .host }}:{{ .port }}/{{ .dbname }}
  dataFrom:
    - extract:
        key: arn:aws:secretsmanager:ap-southeast-1:995597568618:secret:rds!db-0a44633c-ff15-411f-8bd5-ec157393f025-gZ3Tz7 #to update with secrets arn after terraform provisioned the db